body{
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
  
.div1, .div2, .div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 100%;
}

.div2 {
  width: 5%;
  justify-content: space-evenly;
}
  
.div2 button{
  font-size: 20px;
}


.fixed-size-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
  
.div-url{
  width: 50vh;
  height: 50vh;
  border: solid 1px whitesmoke;
}

.label-titulo{
  font-size: 20px;
}

div textarea{
  border: solid 1px whitesmoke;
  border-radius: 5px;
  width: 80%;
  height: 70%;
  background-color: #242424;
  font-size: 20px;
  color: whitesmoke;
  padding: 10px 5px;
}